.grid-container {
    display: grid;
    grid-template-areas: "sign-up  login";
    grid-template-columns: 250px max-content
 }
 
  app-sign-up-page { grid-area: sign-up}
  app-login-page { grid-area: login}