<h3> Pending Requests </h3>

<li *ngFor="let connectionrequest of pendingrequests; index as i;">
  <div *ngIf="i < pendingrequests.length">
    <a [routerLink]="['/user-page'] " [queryParams]=" {email: proffessionalswhorequested[i].email} " link to UserPageComponent> {{proffessionalswhorequested[i].first_name}} {{proffessionalswhorequested[i].last_name}} </a>
    <input type = "submit" class = "forsubmit" value = "Accept" (click)="onClickAcceptConnectionRequest(connectionrequest)">
    <input type = "submit" class = "forsubmit" value = "Reject" (click)="onClickRejectConnectionRequest(connectionrequest)">
  </div>
</li>


<br><br><br>


<h4> The following have liked and commented on your posts </h4>

<li *ngFor="let post of posts; index as i;">
  <div *ngIf="post.hasCommented.length != 0 ||  post.hasLiked.length != 0 ">
    <h3> {{post.title}}</h3>

    <div *ngIf="post.hasCommented.length !=0">
      <ul>
        <li *ngFor="let comment of post.hasCommented; index as i;">
          <h5> {{comment.first_name}}  {{comment.last_name}} has commented this post : {{post.comments[i].body}}</h5>
        </li>
      </ul>
    </div>

    <div *ngIf="post.hasLiked.length != 0 ">
      <ul>
        <li *ngFor="let like of post.hasLiked; index as i;">
          <h5> {{like.first_name}}  {{like.last_name}} has liked this post </h5>
        </li>
      </ul>
    </div>

  </div>
</li>
