<h2> Discussions </h2>

<div class="grid-container">
    <div class="discussions">
        <h3> Discussions </h3>

        <li *ngFor="let discussion of discussions">

            <p style="display: inline;">{{discussion.otherUser.first_name}} {{discussion.otherUser.last_name}}   </p>
            <input type = "submit" class = "forsubmit" value = "Open" (click)="activateDiscussion(discussion.id_discussion, discussion.otherUser)">
            
            <br><br><br>

        </li>
    </div>

    <div class="messages">
        <h3> Messages </h3>
        
        <li *ngFor="let message of messages">

            <p>{{message.message}}<br></p>
            <p style="margin-left: 200px">{{otherUserCurrent.first_name}} - {{message.dt}}<br></p>
            
        </li>
    </div>
</div>
